<!---A page dynamically loaded according to what link on the navbar you clicked.-->
<!DOCTYPE html>
<html>
    <head>
        <!--local node_modules (should switch to cdn later)-->
        <script src="../node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../node_modules/tether/dist/js/tether.min.js"></script>
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

        <!--CDN node-modules-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.6.10/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.6.10/firebase-auth.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/2.3.0/angularfire.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/angular-toastr/dist/angular-toastr.css"/>
        <script src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>

        <!--local scripts for angularjs controllers-->
        <script src="../src/app/config/env.js"></script>
        <script src="../scripts/app.js"></script>
        <script src="../scripts/loginCtrl.js"></script>

        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <body ng-app="myApp">
            <div ng-controller="MainController">
                <div ng-include="'navbar.html'"></div>
                {{$scope.data.object.name}}
                <p>$scope.data.name:
                    {{data.name}}
                </p>
                <p>$scope.data.currentPageContent:
                    {{data.currentPageContent}}</p>
                <p>$scope.data.currentPage:
                    {{data.currentPage}}</p>
            </div>

        </body>

    </body>
</html>
