<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <!--local node_modules (should switch to cdn later)-->
        <script src="../node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../node_modules/tether/dist/js/tether.min.js"></script>
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.6.10/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.6.10/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.6.10/firebase-database.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase-storage.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/2.3.0/angularfire.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/angular-toastr/dist/angular-toastr.css" />
        <script src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>

        <!--local scripts for angularjs controllers-->
        <script src="../src/app/config/env.js"></script>
        <script src="../scripts/app.js"></script>
        <script src="../scripts/loginCtrl.js"></script>
        <script src="../scripts/renderContent.js" charset="utf-8"></script>

        <meta charset="utf-8">
        <title></title>
    </head>
    <body ng-controller="loginCtrl">
        <form class="" ng-submit>
                <progress value="0" max="100" id="uploader">0%</progress>
                <input type="file" ng-click="fileUp($event)" value="upload" id="fileButton" value="">
                <button type="button" name="button">Submit</button>
        </form>


        {{userInfo.uid}}

        <form class="" action="index.html" method="post" class="form-horizontal">
            <div class="form-horizontal">
                <label for="firstName" class="h6">First Name:</label>
                <input type="text" class="form-control form-group col-sm-offset-2 col-sm-4" name="" value="" placeholder="First Name" id="firstName">
                <label for="lastName" class="h6">Last Name:</label>
                <input type="text" class="form-control form-group col-sm-offset-2 col-sm-4" name="" value="" placeholder="Last Name" id="lastName">
                <label for="studentId" class="h6">Student Id:</label>
                <input type="text" class="form-control form-group col-sm-offset-2 col-sm-2" name="" value="" placeholder="ID Number" id="studentId">
                <label for="studentEmail" class="h6">Student Email</label>
                <input type="text" class="form-control form-group col-sm-offset-2 col-sm-6" name="" value="" placeholder="Email" id="studentEmail">

            </div>


            <div class="form-control-static">
                <label>Tournament Name</label><br>
                <div class="form-horizontal"><!--- TODO: Add ngRepeat to get tournament names  -->
                    <label >SCU</label>
                    <input type="radio" name="" value="" id="SCU"><br>
                    <label >NPDI</label>
                    <input type="radio" name="" value="" id="NPDI"><br>
                    <label >EVHS</label>
                    <input type="radio" name="" value="" id="EVHS">
                </div>
</div>

<div class="input-group">
  <input type="text" class="form-control">
  <span class="input-group-addon">@example.com</span>
</div>

                <div class="form-control-static col-sm-offset-2 col-sm-10">
                    <h6>Division</h6>
                            <input type="radio" name="division" value="">Novice/ JV <br>
                            <input type="radio" name="division" value="">Open/ Varsity
                </div>


                <div class="form-control-static col-sm-offset-2 col-sm-10">
                    <label for=""></label><h6>Event</h6>
                    <input type="radio" name="event" value="Parli"> Parliamentary<br>
                    <input type="radio" name="event" value="Pufo"> Public Forum
                </div>




                <div class="form-horizontal">
                    <label for="partnerName" class="h6">Partner's Name:</label>
                    <input type="text" class="form-control form-group col-sm-offset-2 col-sm-6" name="" value="" placeholder="Partner's Name" id="partnerName">
                    <label for="partnerLastName" class="h6">Partner's Last Name</label>
                    <input type="text" class="form-control form-group col-sm-offset-2 col-sm-6" name="" value="" placeholder="Partner's Last Name" id="partnerLastName">
                    <label for="partnerEmail" class="h6">Partner's Email</label>
                    <input type="text" class="form-control form-group col-sm-offset-2 col-sm-6" name="" value="" placeholder="Partner's Email" id="partnerEmail">
                    <label for="judgeName" class="h6">Judge Name</label>
                    <input type="text" class="form-control form-group col-sm-offset-2 col-sm-6" name="" value="" placeholder="Judge Name" id="judgeName">
                    <label for="judgeNumber" class="h6">Judge Cell Number</label>
                    <input type="text" class="form-control form-group col-sm-offset-2 col-sm-6" name="" value="" placeholder="Judge Cell Number" id="judgeNumber">
                </div>
                <div class="form-control-static col-sm-offset-2 col-sm-10">
                    <label for="judgeDays">Your Judge Judging Day(s)</label>
                    <div class="form-control-static" id="judgeDays">
                        <label>Friday</label>
                        <input type="checkbox" name="" value=""><br>
                        <label>Saturday</label>
                        <input type="checkbox" name="" value=""><br>
                        <label>Sunday</label>
                        <input type="checkbox" name="" value="">
                    </div>
            </div>

            <div class="form-control-static col-sm-offset-2 col-sm-10">
                <input type="text" name="" value="" placeholder="Buddy Team Judge Name">
            </div>

            <div class="form-control-static col-sm-offset-2 col-sm-10">
                <input type="text" name="" value="" placeholder="Buddy Team Judge Email">
            </div>

            <div class="form-control-static col-sm-offset-2 col-sm-10">
                <label for="buddyJudgeDays">Buddy Team Judging Day(s)</label>

                <div class="form-control-static col-sm-offset-2 col-sm-10" id="buddyJudgeDays">
                    <label>Friday</label>
                    <input type="checkbox" name="" value=""><br>
                    <label>Saturday</label>
                    <input type="checkbox" name="" value=""><br>
                    <label>Sunday</label>
                    <input type="checkbox" name="" value="">
                </div>
            </div>
            <div class="form-control-static col-sm-offset-2 col-sm-10">
                    <button type="button" name="signIn" class="btn btn-primary" ng-click="">Submit</button>
            </div>
        </form>


    </body>
</html>
